#prevent_mobile_landscape {
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background: url("../images/rotate.png") no-repeat center;
        background-size: contain;
    }
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.height-helper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    visibility: hidden;
}