// Colors
$yellow: rgba(255,182,18,1);
$yellowHover: rgba(255,182,18,0.6);
$gray: #EEEEEE;

// Breakpoints
$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    640px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   1025px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;


$font-size: 16px;

::selection {
    background-color: $yellow;
}

html {
    font: 500 16px/1.125 "OfficinaSans", sans-serif;
    color: #000;

    @media (max-width: $to-small) {
        font-size: 14px
    }
    @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: 15px;
    }
    @media (min-width: $from-medium) and (max-width: $to-large) {
        font-size: $font-size;
    }
    @media (min-width: $from-large) and (max-width: $to-huge) {
        font-size: 17px;
    }
    @media (min-width: $from-huge) and (max-width: $to-enormous) {
        font-size: 18px;
    }
    @media (min-width: $from-enormous) and (max-width: $to-gigantic) {
        font-size: 19px;
    }
    @media (min-width: $from-gigantic) and (max-width: $to-colossal) {
        font-size: 20px;
    }
    @media (min-width: $from-colossal) {
        font-size: 21px;
    }
}
