* {
    cursor: default !important;
}
body {
    background: #fff;
}
.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 320px;
}
.main  {
    overflow: hidden;
    position: relative;
    height: auto;
    flex: 1;

}
.wrapper {
    position: relative;
    width: 90.4%;
    margin: 0 auto;
    z-index: 1;

    @media (min-width: $from-medium) {
        width: 95.8%;
    }
}
.section {
    position: relative;
    flex-shrink: 0;
}
.visible {
    overflow: visible;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex__last {
    @media (max-width: $to-medium) {
        order: 10
    }
}
.flex_aic {
    align-items: center;
    height: 100%;
}
.flex_aife {
    align-items: flex-end;
}
.flex_aifs {
    align-items: flex-start;
}
.flex_jcsb {
    justify-content: space-between;
}
.flex_jcfe {
    justify-content: flex-end;
}
.flex_m-jcsb {
    @media (max-width: $to-medium) {
        justify-content: space-between;
    }
}
.flex_m-jcfs {
    @media (max-width: $to-medium) {
        justify-content: flex-start;
    }
}
.flex_m-fit {
    @media (max-width: $to-medium) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.flex_jcc {
    justify-content: center;
}
.flex_m-jcc {
    @media (max-width: $to-medium) {
        justify-content: center;
    }
}
.flex_fit {
    flex-direction: column;
    align-items: flex-start;
}
.flex_fdc {
    flex-direction: column;
}
.flex_asfs {
    align-self: flex-start;
}
.flex_width {
    width: 100%;
}
.flex_fwn {
    flex-wrap: nowrap;
}
.grid {
    display: grid;
}
.tar {
    text-align: right;
}
.scroll-content {
    position: relative;
}
.scroll-section {
    position: relative;
    will-change: transform;
}
