h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, picture, video, iframe,
.h1, .h2, .h3, .h4, .h5, .h6, .p, .blockquote, .ul, .ol {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}