@function em($pixels, $context) {
    @return #{$pixels/$context}em;
}
@function rem($size, $context: $font-size) {
    @return #{$size / $context}rem;
}

@mixin inputPlaceholder() {
    $selector: '';
    $prefixes: (
            moz: "::-moz",
            webkit: "::-webkit",
            ie: ":-ms"
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

@media (min-width: $from-medium) {
    .is-mobile {
        display: none !important;
    }
}
@media (max-width: $to-medium) {
    .is-desktop {
        display: none !important;
    }
}
